DATABASE_URL=postgresql://postgres:postgres@postgres-user:5432/user_db

ENCRYPTION_MASTER_KEY =9efb32fac03ff8eb60a5b582e5d1cdad14fd91f8636ce9b819cd7d5d9a5b4ff4
REDIS_HOST=redis
REDIS_PORT=6379
PORT =3001

